@use "tools";


.main-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @include tools.container-width();    
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.tags-filter{
    display: flex;
    justify-content: space-between;
}

.post-list-container{
    display: flex;
    flex-direction: column;
    gap: 48px 0;
    padding: 0 24px;

    @include tools.desktop {
        padding: 0;
    }
}

.post-list{
    display: grid;
    gap: 32px 0;
    margin: 0 10px;

    @include tools.desktop{
        grid-template-columns: repeat(3, 1fr);
        //grid-template-rows: 560px 430px;
        grid-auto-rows: minmax(560px, auto) minmax(430px, auto);
        gap: 80px 24px;
    }
}

